/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea {
  box-sizing: border-box !important;
  all: unset;
}

select {
  appearance: auto;
}

button {
  background-color: unset;
  font-weight: 100;
  padding: 0;
  border: none;
  font-size: 12px;
  line-height: unset;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 2px;

  &[disabled]{
    opacity: 0.3;
  }
}

.btn-primary {
  border-bottom: 1px solid $color-dark-300;
  color: $color-dark-300;

  &.hover:not(:disabled):hover {
    border-bottom: 1px solid $color-primary-400;
    color: $color-primary-400;
  }
}

.btn-secondary {
  min-width: 50px;
  padding: 2px;
  border: 1px solid $color-primary-400;
  color: $color-primary-400;

  &.hover:not(:disabled):hover {
    background-color: $color-primary-300;
    color: $color-dark-100;
  }
}

.btn-thread {
  min-width: 50px;
  padding: 2px;
  border: 1px solid $color-dark-300;
  color: $color-dark-300;

  &.hover:hover {
    background-color: $color-dark-300;
    color: $color-dark-400;
  }
}

.icon {
  width: 12px;
  height: 12px;
}

.card {
  padding: 10px;
  background-color: $color-dark-200;
  box-shadow: 0 0 4px $color-dark-300;
  font-size: 14px;
  border-radius: 2px;
}
